<div class="card-menu">
  <div class="wrapper_title">
    <h2 class="title">Elige una carta 👇</h2>
  </div>
  <div class="wrapper_cards">
    <ng-container *ngFor="let card of card_options; let index = index">
      <div
        class="card_to_select"
        [ngClass]="{
          card_selected_by_user: card_options[index].selected_by_user
        }"
        [ngClass]="{
          card_selected: card_options[index].selected
        }"
        (click)="selectCard(index)"
      >
        <span
          class="card_value"
          [ngClass]="{ text_selected: card_options[index].selected_by_user }"
          >{{ card_options[index].viewValue }}</span
        >
      </div>
    </ng-container>
  </div>
</div>
