<div class="menu-cards" *ngIf="user.visualization === 'player'">
  <div class="menu-cards__wrapper-title">
    <h2 class="menu-cards__title">Elige una carta 👇</h2>
  </div>
  <div class="menu-cards__wrapper-cards">
    <ng-container *ngFor="let card of cardOptions; let index = index">
      <div
        class="menu-cards__card-to-select"
        [ngClass]="{
          'menu-cards__card-selected-by-user':
            cardOptions[index].selected_by_user
        }"

        (click)="selectCard(index)"
      >
        <span
          class="menu-cards__value"
          [ngClass]="{
            'menu-cards__text-selected': cardOptions[index].selected_by_user
          }"
          >{{ cardOptions[index].viewValue }}</span
        >
      </div>
    </ng-container>
  </div>
</div>
