.card_container
  display: flex

.is_player
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.card
  height: 56px
  width: 32px
  border: 2px solid #BC91FF
  border-radius: 10px
.card_name
  font-family: 'poppins', 'sans-serif'
  font-weight: 400
  color: white
.is_viewer_wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.is_viewer
  height: 52px
  width: 52px
  background: #bdbdff
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
.is_viever_span
  font-family: 'poppins', 'sans-serif'
  font-weight: 400
  color: #240f4a
  font-size: 17px
  font-weight: 700
