<div class="admin-modal">
  <div class="admin-modal__wrapper">
    <h2 class="admin-modal__tittle">
      ¿Quien será el administrador de la nueva partida?
    </h2>
    <ul class="admin-modal__list">
      <li class="admin-modal__item" *ngFor="let item of data">
        <div class="admin-modal__wrapper-checkbox">
          <input
            class="admin-modal__checkbox-input"
            type="radio"
            name="player"
            id="{{ item._id }}"
            [checked]="idUserSelected === item._id"
            (click)="setUserAdmin(item._id!)"
          />
          <label class="admin-modal__checkbox-text" for="{{ item._id }}">
            {{ item._id === data[0]._id ? "Yo (" + item.username + ")" :
            item.username }}
          </label>
        </div>
      </li>
    </ul>
    <button-submit
      [isActive]="isButtonEnabled"
      [label]="'Aceptar'"
      [type]="'submit'"
      (submitEvent)="submitAdminData()"
    ></button-submit>
  </div>
</div>
