<div class="card card--player" *ngIf="!isSpectator">
  <div class="card__wrapper">
    <div
      class="card__content"
      [ngClass]="{ 'card__player-selected': selected_card! > -3 && !visualizate_result }"
    >
      <span *ngIf="visualizate_result" class="card__selected">
        <ng-container *ngIf="selected_card == -2; else notCoffee"
          >☕</ng-container
        >
        <ng-template #notCoffee>
          <ng-container *ngIf="selected_card == -1; else default"
            >?</ng-container
          >
          <ng-template #default>{{ selected_card }}</ng-template>
        </ng-template>
      </span>
    </div>
    <span class="card__name" for="">{{ player?.username }}</span>
  </div>
</div>

<div class="card card--spectator" *ngIf="isSpectator">
  <div class="card__wrapper">
    <div class="card__is-viewer">
      <span class="card__is-viever-text" for="">{{
        player!.username | shortName
      }}</span>
    </div>
    <span class="card__name" for="">{{ player?.username }}</span>
  </div>
</div>
