<div class="card_container">
  <div class="is_player" *ngIf="visualization == 'player'">
    <div
      class="card"
      [ngClass]="{
        card_player_selected: player.selected_card && !visualizate_result
      }"
    >
      <span *ngIf="visualizate_result" class="card_selected">{{
        player.selected_card
      }}</span>
    </div>
    <span class="card_name" for="">{{ player.username }}</span>
  </div>
  <div class="is_viewer_wrapper" *ngIf="visualization == 'spectator'">
    <div class="is_viewer">
      <span class="is_viever_span" for="">{{ name_viever }}</span>
    </div>
    <span class="card_name" for="">{{ player.username }}</span>
  </div>
</div>
