@use '../../../../variables' as var

$colorLight: #BC91FF

.card
  display: flex

.card__wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.card__content
  height: 56px
  width: 32px
  border: 2px solid $colorLight
  border-radius: 10px
  display: flex
  justify-content: center
  align-items: center

.card__selected
  color: white
  font-family: var.$appFont
  font-weight: 500

.card__name
  font-family: var.$appFont
  font-weight: 400
  color: white
.card__is-viewer
  height: 52px
  width: 52px
  background: $colorLight
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
.card__is-viever-text
  font-family: var.$appFont
  font-weight: 400
  color: #240f4a
  font-size: 17px
  font-weight: 700
.card__player-selected
  background: $colorLight

// CardOption
.menu-cards__card-to-select
  height: 96px
  width: 58px
  border: 1px solid #BC91FF
  border-radius: 10px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer

.menu-cards__card-selected-by-user
  box-shadow: 0px 0px 10px #5c349e
  background: #E4A4FF
  margin-top: -10px

.menu-cards__value
  font-size: 23px
  color: white
  font-family: var.$appFont
  font-weight: 600

.menu-cards__value-selected
  color: var.$colorEnabled
