<div class="card" *ngIf="visualization == 'player'">
  <div class="card__wrapper">
    <div
      class="card__content"
      [ngClass]="{
        'card__player-selected': player.selected_card && !visualizate_result
      }"
    >
      <span *ngIf="visualizate_result" class="card__selected">{{
        player.selected_card
      }}</span>
    </div>
    <span class="card__name" for="">{{ player.username }}</span>
  </div>
</div>

<div class="card" *ngIf="visualization == 'spectator'">
  <div class="card__wrapper">
    <div class="card__is-viewer">
      <span class="card__is-viever-text" for="">{{ nameViever }}</span>
    </div>
    <span class="card__name" for="">{{ player.username }}</span>
  </div>
</div>
