<div class="invitation-modal__header">
  <h2 class="invitation-modal__title">Invitar jugadores</h2>
  <button class="invitation-modal__close" (click)="closeModal()">
    <img src="assets/images/x.png" alt="" srcset="" />
  </button>
</div>
<div class="invitation-modal__body">
  <input
    class="invitation-modal__span"
    type="text"
    disabled
    [value]="actualUrl"
  />
  <button-submit
    [isActive]="true"
    [label]="'Copiar link'"
    [type]="'submit'"
    (submitEvent)="copyLink()"
  ></button-submit>
</div>
