<div class="header-room">
  <div class="wrapper_header">
    <div class="wrapper-logo">
      <logo></logo>
    </div>
    <div class="header-tittle__wrapper">
      <h1 class="header-room__title">Sprint 32</h1>
    </div>
    <div class="header-room__options">
      <div class="header-room__options--user">
        <p class="header-room__options--name">LU</p>
      </div>
      <button class="header-room__button--copy" (click)="copyLink()">
        Invitar jugadores
      </button>
    </div>
  </div>
</div>
