<div class="header">
  <div class="header__wrapper">
    <div class="header__wrapper-logo">
      <logo></logo>
    </div>
    <div class="header__wrapper-tittle">
      <h1 class="header__tittle">{{ roomName }}</h1>
    </div>
    <div class="header__options">
      <div class="header__options-user">
        <p class="header__options-name">{{ nameViever }}</p>
      </div>
      <button class="header__button-copy" (click)="openDialog()">
        Invitar jugadores
      </button>
    </div>
  </div>
</div>
