<div class="header">
  <div class="header__wrapper">
    <div class="header__wrapper-logo">
      <logo></logo>
    </div>
    <div class="header__wrapper-tittle">
      <h1 class="header__tittle">{{ roomName }}</h1>
    </div>
    <div class="header__options">
      <div class="header__options-user">
        <p class="header__options-name">{{ nameViever }}</p>
      </div>
      <button class="header__button-copy" (click)="openDialog()">
        Invitar jugadores
      </button>
      <div class="header__wrapper-button-responsive-copy">
        <svg
          class="header__button-responsive-copy"
          (click)="openDialog()"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            fill="#ffffff"
            d="M19 17v2H7v-2s0-4 6-4s6 4 6 4m-3-9a3 3 0 1 0-3 3a3 3 0 0 0 3-3m3.2 5.06A5.6 5.6 0 0 1 21 17v2h3v-2s0-3.45-4.8-3.94M18 5a2.91 2.91 0 0 0-.89.14a5 5 0 0 1 0 5.72A2.91 2.91 0 0 0 18 11a3 3 0 0 0 0-6M8 10H5V7H3v3H0v2h3v3h2v-3h3Z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
