::ng-deep .user-modal
  border-radius: 25px
  overflow: hidden
  height: auto
  border: 2px solid #6429cd

::ng-deep .blur-backdrop
  background-color: rgba(0, 0, 0, 0.4)
  backdrop-filter: blur(8px)

:root
  --form-control-color: rebeccapurple
*,
*:before,
*:after
  box-sizing: border-box

.user_modal__body
  background: #1f0d3f
  // height: 150px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 4rem 0px
  display: flex
  justify-content: center
  align-items: center
.user_modal_form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.user_modal_wrapper_span
  width: 280px
.user_modal__span
  margin-bottom: 1rem
  color: white
  font-family: Poppins, sans-serif
  font-weight: 600
.user_modal__input
  height: 2.2rem
  border: 1px solid #6429cd
  background: #240f4a
  border-radius: 20px
  width: 100%
  margin: 0
  margin-top: .5rem
  padding: 0 1rem
  box-sizing: border-box
  font-family: Poppins, sans-serif
  font-weight: 400
  color: white
  &:focus
    outline: none
    border: 1px solid #B963FD
    box-shadow: 0 0 5px #B963FD
    // Dame un estilo para el background en rgb
    background: #330072
.user_modal_wrapper_visualization
  width: 100%
  display: flex
  justify-content: space-evenly
  margin-top: 1rem
.user_modal_wrapper_checkbox
  display: flex
  justify-content: center
  align-items: center
.user_modal_checkbox_text
  color: white
  font-family: Poppins, sans-serif
  font-weight: 400
  font-size: 14px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
.user_modal_checkbox_input
  appearance: none
  width: 1.5rem
  height: 1.5rem
  cursor: pointer
  border: 1px solid #bb65ff
  background-color: #331569
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  &:focus
    outline: none
    border: 1px solid #B963FD
    box-shadow: 0 0 5px #B963FD
    // Dame un estilo para el background en rgb
    background: #330072

.user_modal_checkbox_input:checked::before
  content: ""
  display: block
  width: 60%
  height: 60%
  background-color: #bb65ff
  border-radius: 50%
  margin: 0
  padding: 0

.user_modal__button
  height: 2.2rem
  border: none
  font-family: Poppins,sans-serif
  font-size: 16px
  font-weight: 600
  justify-content: center
  align-items: center
  border-radius: 25px
  margin-top: 2rem
  background: #56367F
  color: #807393
  cursor: not-allowed
  border: none
  padding: 0 1rem
.form_room_button_active
  background: white !important
  color: #360474
  cursor: pointer
