<div class="user-modal">
  <form action="" class="user-modal__form">
    <div class="user-modal__wrapper-span">
      <span class="user-modal__span">Tu nombre</span>
      <input
        class="user-modal__input"
        type="text"
        (input)="setUserName($event)"
      />
    </div>
    <div class="user-modal__wrapper-visualization">
      <div class="user-modal__wrapper-checkbox">
        <label class="user-modal__checkbox-text" for="player">Jugador </label>
        <input
          class="user-modal__checkbox-input"
          type="radio"
          name="player"
          id="player"
          (click)="setUserType($event)"
          (keyup.enter)="setUserType($event)"
          [checked]="isPlayer"
        />
      </div>
      <div class="user-modal__wrapper-checkbox">
        <label class="user-modal__checkbox-text" for="spectator"
          >Espectador
        </label>
        <input
          class="user-modal__checkbox-input"
          type="radio"
          name="spectator"
          id="spectator"
          (click)="setUserType($event)"
          (keyup.enter)="setUserType($event)"
          [checked]="isSpectator"
        />
      </div>
    </div>
    <button-submit
      [isActive]="isButtonActive"
      [isPlayerSubmit]="true"
      [type]="'button'"
      (click)="createUser()"
    ></button-submit>
  </form>
</div>
