<div class="user_modal__body">
  <form action="" class="user_modal_form">
    <div class="user_modal_wrapper_span">
      <span class="user_modal__span">Tu nombre</span>
      <input
        class="user_modal__input"
        type="text"
        (input)="setUserName($event)"
      />
    </div>
    <div class="user_modal_wrapper_visualization">
      <div class="user_modal_wrapper_checkbox">
        <label class="user_modal_checkbox_text" for="player">Jugador </label>
        <input
          class="user_modal_checkbox_input"
          type="radio"
          name="player"
          id="player"
          (click)="setUserType($event)"
          [checked]="is_player"
        />
      </div>
      <div class="user_modal_wrapper_checkbox">
        <label class="user_modal_checkbox_text" for="spectator"
          >Espectador
        </label>
        <input
          class="user_modal_checkbox_input"
          type="radio"
          name="spectator"
          id="spectator"
          (click)="setUserType($event)"
          [checked]="is_spectator"
        />
      </div>
    </div>
    <button
      class="user_modal__button"
      [ngClass]="{ form_room_button_active: is_button_active }"
      (click)="closeModal()"
    >
      Continuar
    </button>
  </form>
</div>
