<section class="room" [ngClass]="{ 'room__section-centered': userHost }">
  <header [roomName]="room.tittle" [username]="userHost.username" *ngIf="userHost" class="room__header"></header>
  <div class="room__table-container">
    <div class="room__table-module room__top-module">
      <card
        *ngIf="players[1]"
        [player]="players[1]"
        [card]="players[1].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[2]"
        [player]="players[2]"
        [card]="players[2].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[4]"
        [player]="players[4]"
        [card]="players[4].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
    </div>
    <div class="room__table-module room__left-module">
      <card
        *ngIf="players[6]"
        [player]="players[6]"
        [card]="players[6].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[8]"
        [player]="players[8]"
        [card]="players[8].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
    </div>
    <div class="room__wrapper-table">
      <div class="room__border-table">
        <div class="room__table-container">
          <div class="room__table">
            <button
              class="room__table-button"
              *ngIf="revealCardsOrRestartText"
              (click)="revealCardsOrRestart()"
            >
              {{revealCardsOrRestartText}}
            </button>
            <div class="room__wrapper-counting" *ngIf="countingVotes">
              <img
                class="room__counting-image"
                width="200"
                alt="Counting votes"
                src="./../../../assets/images/load-image.png"
              />
              <span class="room__counting-text">Contando votos</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="room__table-module room__rigth-module">
      <card
        *ngIf="players[7]"
        [player]="players[7]"
        [card]="players[7].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[9]"
        [player]="players[9]"
        [card]="players[9].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
    </div>
    <div class="room__table-module room__bottom-module">
      <card
        *ngIf="players[5]"
        [player]="players[5]"
        [card]="players[5].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[0]"
        [player]="players[0]"
        [card]="players[0].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[3]"
        [player]="players[3]"
        [card]="players[3].selected_card"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
    </div>
  </div>
  <options-cards
    *ngIf="userHost && cardsSelected.length == 0"
    [visualization]="userHost.visualization"
    (cardSelectedEvent)="onCardSelected($event)"
  ></options-cards>
  <results
    *ngIf="cardsSelected.length > 0"
    [cardsRevealed]="cardsSelected"
  ></results>
</section>
