<section class="room" [ngClass]="{ 'room__section-centered': user }">
  <header [roomName]="room.tittle" *ngIf="user" class="room__header"></header>
  <div class="room__table-container">
    <div class="room__table-module room__top-module">
      <card
        *ngIf="players[1]"
        [player]="players[1]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[2]"
        [player]="players[2]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[4]"
        [player]="players[4]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
    </div>
    <div class="room__table-module room__left-module">
      <card
        *ngIf="players[6]"
        [player]="players[6]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[8]"
        [player]="players[8]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
    </div>
    <div class="room__wrapper-table">
      <div class="room__border-table">
        <div class="room__table-container">
          <div class="room__table">
            <button
              class="room__table-button"
              *ngIf="isRevealable"
              (click)="RevealCards()"
            >
              Revelar cartas
            </button>
            <button
              class="room__table-button"
              *ngIf="isAvaliableToRestart"
              (click)="restart()"

            >
              Nueva votación
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="room__table-module room__rigth-module">
      <card
        *ngIf="players[7]"
        [player]="players[7]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card *ngIf="players[9]" [player]="players[9]"></card>
    </div>
    <div class="room__table-module room__bottom-module">
      <card
        *ngIf="players[5]"
        [player]="players[5]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[0]"
        [player]="players[0]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
      <card
        *ngIf="players[3]"
        [player]="players[3]"
        [visualizate_result]="cardsSelected.length > 0"
      ></card>
    </div>
  </div>
  <card-menu
    *ngIf="user && cardsSelected.length == 0"
    [user]="user"
    (cardSelectedEvent)="onCardSelected($event)"
  ></card-menu>
  <results
    *ngIf="cardsSelected.length > 0"
    [cardsRevealed]="cardsSelected"
  ></results>
</section>
