@use '../../../variables' as var

$colAndRowDisposition: auto 1fr auto
$borderRadiusTable: 250px

.room
  padding: 0
  background: radial-gradient(#330072, #615578)
  width: 100vw
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.room__table-container
  display: grid
  grid-template-columns: $colAndRowDisposition
  grid-template-rows: $colAndRowDisposition

.room__table-module
  display: flex

.room__wrapper-table
  border-radius: $borderRadiusTable
  border: 2px solid #7443d6
  background: transparent
  padding: 1rem
  // Ligthning
  outline: none
  box-shadow: 0 0 5px #7e2bbe
  margin: 2rem
  @media screen and (max-width: 550px)
    margin: 1rem

.room__top-module
  grid-column: 2 / 3
  grid-row: 1 / 2
  display: flex
  justify-content: space-evenly
  align-items: center

.room__left-module
  grid-column: 1 / 2
  grid-row: 1 / 4
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-direction: column

.room__rigth-module
  grid-column: 3 / 4
  grid-row: 1 / 4
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-direction: column

.room__bottom-module
  grid-column: 2 / 3
  grid-row: 3 / 4
  display: flex
  justify-content: space-evenly
  align-items: center

.room__border-table
  border-radius: $borderRadiusTable
  border: 2px solid #9479E8
  background: transparent
  padding: .8rem

.room__table
  width: 468px
  height: 224px
  background: #290C52
  border-radius: $borderRadiusTable
  border: 1px solid #6429CD
  position: relative
  display: flex
  justify-content: center
  align-items: center
  @media screen and (max-width: 768px)
    width: 350px
  @media screen and (max-width: 550px)
    width: 300px
  @media screen and (max-width: 500px)
    width: 200px
    height: 200px



.room__table-button
  margin: 0
  border: none
  background: #6429cd
  color: white
  font-family: var.$appFont
  padding: .6rem 1.6rem
  font-size: 1.2rem
  border-radius: var.$borderRadiusCorners
  outline: none
  cursor: pointer

.room__section-centered
  justify-content: space-between
  overflow: auto

.room__header
  width: 100%
