<section class="room_section" [ngClass]="{ room_section_centered: user }">
  <header-room [room_name]="room.tittle" *ngIf="user"></header-room>
  <div class="room_table_container">
    <div class="room_table_module top">
      <card *ngIf="players[1]" [player]="players[1]"></card>
      <card *ngIf="players[2]" [player]="players[2]"></card>
      <card *ngIf="players[4]" [player]="players[4]"></card>
    </div>
    <div class="room_table_module left">
      <card *ngIf="players[6]" [player]="players[6]"></card>
      <card *ngIf="players[8]" [player]="players[8]"></card>
    </div>
    <div class="room_wrapper_table">
      <div class="room_border_table">
        <div class="room_table_container">
          <div class="room_table"></div>
        </div>
      </div>
    </div>
    <div class="room_table_module rigth">
      <card *ngIf="players[7]" [player]="players[7]"></card>
      <card *ngIf="players[9]" [player]="players[9]"></card>
    </div>
    <div class="room_table_module bottom">
      <card *ngIf="players[5]" [player]="players[5]"></card>
      <card *ngIf="players[0]" [player]="players[0]"></card>
      <card *ngIf="players[3]" [player]="players[3]"></card>
    </div>
  </div>
  <card-menu
    *ngIf="user"
    [user]="user"
    (cardSelectedEvent)="onCardSelected($event)"
  ></card-menu>
</section>
