@use '../../../../variables' as var

$colorDark: #240f4a

::ng-deep .custom-invitation-modal
  border-radius: var.$borderRadiusCorners
  overflow: hidden
  height: auto
  border: 2px solid #6429cd
.invite_players_modal
  border-radius: var.$borderRadiusCorners
  overflow: hidden
::ng-deep .blur-backdrop
  background-color: rgba(0, 0, 0, 0.4)
  backdrop-filter: blur(8px)
.invitation-modal__header
  background: #6429cd
  display: flex
  justify-content: space-between
  height: 50px
  align-items: center
  padding: 0 1rem
.invitation-modal__title
  margin: 0
  font-size: 16px
  font-weight: 600
  font-family: var.$appFont
  color: white
.invitation-modal__close
  background: transparent
  border: none
  outline: none
  cursor: pointer
.invitation-modal__body
  background: $colorDark
  height: 150px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 0 1.5rem
.invitation-modal__span
  height: 2.2rem
  border: 1px solid #6429cd
  background: $colorDark
  border-radius: 20px
  width: 100%
  margin: 0
  padding: 0 1rem
  box-sizing: border-box
  font-family: var.$appFont
  font-weight: 400
  color: white
  margin-top: 1rem
.invitation-modal__button
  height: 2.2rem
  border: none
  font-family: var.$appFont
  font-weight: 600
  font-size: 14px
  background: white
  color: $colorDark
  border-radius: 20px
  padding: 0 1rem
  margin-top: 1.5rem
  outline: none
  cursor: pointer
